<div class="container-fluid">
    <div class="card p-3 mb-2 bg-dark text-white">
        <div class="jumbotron p-3 mb-2 bg-dark text-white">

            {{!-- Game name --}}
            <h1 class="display-4">
                {{game_name}}
            </h1>

            {{!-- Console and Release Date --}}
            <p class="lead">
                <strong>
                    {{console_name}}
                </strong>
                 | 
                <strong>
                    Release Date: 
                </strong>
                {{formatDate release_date}}
            </p>

            {{!-- Game Info --}}
            <div class="row">

                {{!-- Game photo --}}
                <div class="col-2">
                    {{#if photo}}
                    <img src="{{photo}}" class="game_photo" />
                    {{else}}
                    Pic not available
                    {{/if}}
                </div>

                {{!-- Game Rotten/not, rating, Summary --}}
                <div class="col-7">
                    <table class="table table-sm table-borderless text-white">
                        <thead>
                            <tr>
                                <th scope="col">Fresh or Not?</th>
                                <th scope="col">Average Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {{#if rating includeZero=true}}
                                <td>{{{freshOrNot rating}}}</td>
                                <td>{{toFixed rating}}</td>
                                {{else}}
                                <td></td>
                                <td>No reviews yet</td>
                                {{/if}}
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        <strong>
                            Summary:
                        </strong>
                       {{description}} 
                    </p>
                </div>

                {{!-- Genres and other Console(s) --}}
                <div class="col-3">
                    <p>
                        <strong>
                            Genres:
                        </strong>
                       {{genresList}} 
                    </p>
                    <p>
                        <strong>
                            Also on: 
                        </strong>
                       {{{consolesList}}} 
                    </p>
                </div>

                {{!-- Button to delete game --}}
                <button onclick="deleteGame({{console_ID}}, {{game_ID}})" class="btn btn-success" type="button">
                    Delete Game
                </button>
            </div>
        </div>
    </div>
</div>

{{!-- Horizontal line --}}
<hr class="my-4">

{{!-- Reviews --}}
<div class="container">
    <div class="card">
        <div class="bg-dark">
            <div class="jumbotron p-3 mb-2 bg-dark text-white">

                {{!-- Reviews header and Add Review Button --}}
                <div class="row">
                    <div class="col-6">
                        <h1 class="text-left display-4">
                            Reviews
                        </h1>
                    </div>
                    <div class="col-6 text-right">
                        <button onclick="reviewCheck({{game_ID}}, {{console_ID}}, `{{game_name}}`, `{{console_name}}`)" class="btn btn-success" type="button">
                            Add Review
                        </button>
                    </div>
                </div>
                <p></p>

                {{!-- Each review --}}
                {{#if reviews}}
                {{#each reviews}} 
                <div class="card">
                    <div class="bg-dark text-white">
                        <div class="card-title">
                            <div class="container">
                                <div class="row text-center">
                                    <div class="col-1 bg-success text-center">
                                    {{toFixed rating}} 
                                    </div>
                                    <div class="col-2">
                                    {{user_name}} 
                                    </div>
                                    <div>
                                    {{formatDate review_date}} 
                                    </div>
                                    <div class="col-7">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <strong>
                                {{title}} 
                                </strong>
                            </div>
                            <div class="card-text">
                                {{content}} 
                            </div>
                        </div>
                    </div>
                </div>
                <p></p>
                {{/each}}
                {{else}}
                No reviews yet
                {{/if}}
            </div>
        </div>
    </div>
</div>