<div class="container-fluid">
    <h1 class="display-4">
        {{game_name}}
    </h1>
    <p class="lead">{{console_name}}</p>
    {{#if photo}}
    <img src="{{photo}}" class="small_photo" />
    {{else}}
    Pic not available
    {{/if}}

    <table class="table table-sm medium_cell">
        <thead>
            <tr>
                <th scope="col">Fresh or Not?</th>
                <th scope="col">Average Rating</th>
                <th scope="col">Release Date</th>
                <th scope="col">Genres</th>
                <th scope="col">Also On</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {{#if rating includeZero=true}}
                <td>{{{freshOrNot rating}}}</td>
                <td>{{toFixed rating}}</td>
                {{else}}
                <td></td>
                <td>No reviews yet</td>
                {{/if}}
                <td>{{formatDate release_date}}</td>
                <td>{{genresList}}</td>
                <td>{{{consolesList}}}</td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <label for="summary"><strong>Summary</strong></label>
        <textarea class="form-control text_box" name="summary" style="height:300px;" readonly>{{description}}</textarea>
    </div>
    <button onclick="reviewCheck({{game_ID}}, {{console_ID}}, `{{game_name}}`, `{{console_name}}`)" class="btn btn-primary" type="button">Add Review</button>
    <button onclick="deleteGame({{console_ID}}, {{game_ID}})" class="btn btn-primary" type="button">Delete Game</button>

    <hr class="my-4">

    <div>
        <h2>Reviews</h2>
        {{#if reviews}}
        {{#each reviews}}
        <table class="table table-sm small_cell" style="margin-top:50px;">
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">User Rating</th>
                    <th scope="col">Review Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{user_name}}</td>
                    <td>{{toFixed rating}}</td>
                    <td>{{formatDate review_date}}</td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <label for="title"><strong>Review Title</strong></label>
            <input class="form-control text_box" type="text" name="title" value="{{title}}" readonly />
        </div>
        <div class="form-group">
            <label for="summary"><strong>Summary</strong></label>
            <textarea class="form-control text_box" name="summary" style="height:150px;" readonly>{{content}}</textarea>
        </div>
        {{/each}}
        {{else}}
        No reviews yet
        {{/if}}
    </div>
</div>