<div class="container-fluid">
    <h1>
        Profile
    </h1>
    {{#if photo}}
    <img src="{{photo}}" class="medium_photo" />
    {{else}}
    Pic not available
    {{/if}}
    <form id="profile" action="/profile" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="username" value="{{user_name}}" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="password" required>
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" name="email" placeholder="email" value="{{email}}" required>
        </div>
        <div class="form-group">
            <label for="console">Preferred Console</label>
            <select id="console" name="console">
                {{#each options}}
                <option value="{{console_ID}}" {{processOption pref_console_ID console_ID}}>{{console_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="photo">URL to your photo</label>
            <input type="text" name="photo" placeholder="photo" value="{{photo}}">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <hr class="my-4">
    <h2>Your Reviews</h2>
    {{#if reviews}}
    {{#each reviews}}
    <div>
        <table class="table table-sm medium_cell" style="margin-top:50px;">
            <thead>
                <tr>
                    <th scope="col">Game</th>
                    <th scope="col">Console</th>
                    <th scope="col">Your Rating</th>
                    <th scope="col">Review Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{game_name}}</td>
                    <td>{{console_name}}</td>
                    <td>{{rating}}</td>
                    <td>{{formatDate review_date}}</td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <label for="title"><strong>Review Title</strong></label>
            <input type="text" name="title" placeholder="title" value="{{title}}" readonly />
        </div>
        <div class="form-group">
            <label for="summary"><strong>Summary</strong></label>
            <textarea class="form-control text_box" name="summary" readonly>{{content}}</textarea>
        </div>
        <button onclick="deleteReview({{review_ID}})" type="button" class="btn btn-primary">Delete</button>
    </div>
    {{/each}}
    {{else}}
    No reviews yet
    {{/if}}
</div>